name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: typst-community/setup-typst@v4

      - name: Install Takao fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-takao-mincho fonts-takao-gothic
          fc-cache -fv

      - run: mkdir -p out
      - run: typst compile main.typ out/main.pdf
      - uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/main'
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
